<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/forms.css">
    <title>Login</title>
</head>
<!-- página de login -->

<body>
    <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

    <header>
        <h1>Stellar Memory</h1>
    </header>

    <!-- Caixa de login -->
    <main class="container">
        <h2 class="subtitulo">LOGIN</h2>

        <form id="form-login">
            <div class="input-box">
                <input name="usuario" placeholder="Username" type="text" required>
                <i class='bx bx-user'></i>
            </div>

            <div class="input-box">
                <input id="password" name="senha" placeholder="Senha" type="password" required>
                <button type="button" class="toggle-password">
                    <img src="../../img/red-eyes.png" alt="mostrar ou ocultar senha">
                </button>
            </div>

            <!-- Botão -->
            <button type="submit">Login</button>

            <!-- Link de registro -->
            <div class="register-link">
                <p>Não tem uma conta?
                    <a href="../cadastro/cadastro.html">Cadastre-se</a>
                </p>
            </div>

        </form>
    </main>

    <script src="../../js/forms.js"></script>

</body>

</html>
