<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking Global</title>

    <link rel="stylesheet" href="../../css/global.css" />
    <link rel="stylesheet" href="../../css/ranking.css" />

    <!--conectando as fontes/tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

    <header>
        <h1>Stellar Memory</h1>
    </header>

    <button class="menu_button" id="menu-toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav class="side_menu" id="side_menu">
        <a href="../edicao_perfil/edicao_perfil.html">Editar Perfil</a>
        <a href="../historico/historico.html">Histórico de Partidas</a>
        <a href="../jogo/jogo.html">Tela do Jogo</a>
        <a href="../login/login.html">Desconectar</a>
    </nav>

    <section id="ranking" class="ranking, information-container">
        <h2>Ranking Global</h2>

        <table>
            <caption>Top 10 Jogadores</caption>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Tamanho do Tabuleiro</th>
                    <th>Nº de Jogadas</th>
                    <th>Modo de Jogo</th>
                    <th>Data da Partida</th>
                </tr>
            </thead>
            <tbody id="ranking-body">
                <tr>
                    <td>Jogador1</td>
                    <td>4x4</td>
                    <td>25</td>
                    <td>Clássico</td>
                    <td>20/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador2</td>
                    <td>6x6</td>
                    <td>30</td>
                    <td>Contra o Tempo</td>
                    <td>21/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador3</td>
                    <td>2x2</td>
                    <td>15</td>
                    <td>Clássico</td>
                    <td>22/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador4</td>
                    <td>8x8</td>
                    <td>40</td>
                    <td>Contra o Tempo</td>
                    <td>23/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador5</td>
                    <td>4x4</td>
                    <td>20</td>
                    <td>Clássico</td>
                    <td>24/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador6</td>
                    <td>6x6</td>
                    <td>35</td>
                    <td>Contra o Tempo</td>
                    <td>25/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador7</td>
                    <td>2x2</td>
                    <td>18</td>
                    <td>Clássico</td>
                    <td>26/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador8</td>
                    <td>8x8</td>
                    <td>45</td>
                    <td>Contra o Tempo</td>
                    <td>27/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador9</td>
                    <td>4x4</td>
                    <td>22</td>
                    <td>Clássico</td>
                    <td>28/08/2025</td>
                </tr>
                <tr>
                    <td>Jogador10</td>
                    <td>6x6</td>
                    <td>32</td>
                    <td>Contra o Tempo</td>
                    <td>29/08/2025</td>
                </tr>
            </tbody>
        </table>
    </section>

    <script src="../../js/global.js"></script>
</body>

</html>

