<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../css/global.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/forms.css">
    <link rel="stylesheet" href="../../css/cadastro.css">
    <title>Edição de Dados</title>
</head>

<body class="cadastro-page">
    <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

    <header>
        <h1>Stellar Memory</h1>
    </header>

    <button class="menu_button" id="menu-toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav class="side_menu" id="side_menu">
		<a href="../historico/historico.html">Histórico</a>
		<a href="../ranking/ranking.html">Ranking</a>
        <a href="../jogo/jogo.html">Tela do Jogo</a>
        <a href="../login/login.html">Desconectar</a>
    </nav>

    <!-- Caixa de edição -->
    <main class="container">
        <h2 class="subtitulo">EDIÇÃO DE DADOS</h2>

        <form id="profile-form">
            <!-- Coluna esquerda -->
            <div class="input-box">
                <input name="nome_completo" placeholder="Nome Completo" type="text" required>
                <i class='bx bx-id-card'></i>
            </div>

            <div class="input-box">
                <label for="nascimento" class="sr-only">Data de Nascimento</label>
                <input id="nascimento" name="data_nascimento" type="text" placeholder="dd/mm/aaaa" required pattern="\d{2}/\d{2}/\d{4}">
                <i class='bx bx-calendar'></i>
            </div>

            <div class="input-box">
                <input name="cpf" placeholder="CPF" type="text" maxlength="14" required>
                <i class='bx bx-id-card'></i>
            </div>

            <div class="input-box">
                <input name="telefone" placeholder="Telefone" type="tel" required>
                <i class='bx bx-phone'></i>
            </div>

            <!-- Coluna direita -->
            <div class="input-box">
                <input name="email" placeholder="E-mail" type="email" required>
                <i class='bx bx-envelope'></i>
            </div>

            <div class="input-box">
                <input name="username" placeholder="Username" type="text" required>
                <i class='bx bx-user'></i>
            </div>

            <div class="input-box">
                <input id="password" name="senha" placeholder="Senha" type="password" required>
                <button type="button" class="toggle-password">
                    <img src="../../img/red-eyes.png" alt="Mostrar senha">
                </button>
            </div>

            <!-- Botão -->
            <button type="submit">Salvar Alterações</button>



        </form>
    </main>
    <!-- Script para o formulário de edição de perfil -->
    <script src="/app/view/js/forms.js" defer></script>
    <script src="/app/view/js/edicao_perfil.js" defer></script>

</body>

</html>
