<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Histórico de Partidas</title>

	<link rel="stylesheet" href="../../css/global.css" />
	<link rel="stylesheet" href="../../css/historico.css" />
<body>
  <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

	<section id="historico" class="historico, information-container">
		<h1>Histórico de Partidas</h1>
		<table>
			<caption>Jogador X</caption>
			<thead>
				<tr>
				  <th>Dimensões do Tabuleiro</th>
				  <th>Modalidade</th>
				  <th>Tempo até o Resultado</th>
				  <th>Nº de Jogadas</th>
				  <th>Resultado</th>
				  <th>Data</th>
				  <th>Hora</th>
				</tr>
			</thead>
		  <tbody>
			<tr>
			  <td>2 × 2</td>
			  <td>Clássico</td>
			  <td><time datetime="PT45S">45s</time></td>
			  <td>6</td>
			  <td>Vitória</td>
			  <td><time datetime="2025-08-20">20/08/2025</time></td>
			  <td><time datetime="19:24">19:24</time></td>
			</tr>
			<tr>
			  <td>4 × 4</td>
			  <td>Contra o tempo</td>
			  <td><time datetime="PT01M15S">1m 15s</time></td>
			  <td>10</td>
			  <td>Derrota</td>
			  <td><time datetime="2025-08-21">21/08/2025</time></td>
			  <td><time datetime="21:10">21:10</time></td>
			</tr>
			<tr>
			  <td>8 × 3</td>
			  <td>Clássico</td>
			  <td><time datetime="PT05M42S">5m 42s</time></td>
			  <td>22</td>
			  <td>Vitória</td>
			  <td><time datetime="2025-08-22">22/08/2025</time></td>
			  <td><time datetime="14:03">14:03</time></td>
			</tr>
		  </tbody>
		</table>
	</section>
</body>
</html>
