		<!DOCTYPE html>
	<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Histórico de Partidas</title>

		<link rel="stylesheet" href="../../css/global.css">
		<link rel="stylesheet" href="../../css/game-data.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

		<header>
			<h1>Stellar Memory</h1>
		</header>

		<button class="menu_button" id="menu-toggle-btn">
			<span></span>
			<span></span>
			<span></span>
		</button>

		<nav class="side_menu" id="side_menu">
			<a href="../-perfil/edicao-perfil.html">Editar Perfil</a>
        <a href="../jogo/jogo.html">Tela do Jogo</a>
        <a href="../ranking/ranking.html">Ranking</a>
        <a href="../login/login.html">Desconectar</a>
    </nav>

    <section id="historico" class="information-container">
        <h2>Histórico de Partidas</h2>
        <table>
            <caption>Jogador X</caption>
            <thead>
                <tr>
                    <th>Dimensões do Tabuleiro</th>
                    <th>Modalidade</th>
                    <th>Tempo até o Resultado</th>
                    <th>Nº de Jogadas</th>
                    <th>Resultado</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <!-- As linhas da tabela serão inseridas dinamicamente via JavaScript -->
            </tbody>
        </table>
    </section>

    <script defer src="../../js/historico.js"></script>
    <script defer src="../../js/global.js"></script>
</body>
</html>
