<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stellar Memory - Jogo de Memória Espacial</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../../css/inicio.css" />  
  <link rel="stylesheet" href="../../css/global.css" />

  <!-- Fontes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- Fundo -->
  <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

  <!-- Navegação -->
  <nav>
    <a href="../login/login.html" class="btn">Entre</a>
  </nav>

  <!-- Conteúdo Principal -->
  <main>
    <div class="container">

      <p class="welcome-text">Bem-vindo à aventura cósmica que testará sua memória entre as estrelas!</p>

      <h1 class="game-title">Stellar Memory</h1>
      <div class="cta-section">
        <a href="../cadastro/cadastro.html" class="btn">Cadastre-se</a>

      </div>
    </div>
  </main>

  <footer>

  </footer>

</body>

</html>