<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../css/global.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/forms.css">
    <title>Cadastro</title>
</head>
<!-- Página de cadastro -->

<body class="cadastro-page">
    <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

    <header class="titulo-principal">
        <h1>Stellar Memory</h1>
    </header>

    <!-- Caixa de cadastro -->
    <main class="container">
        <h2 class="subtitulo">CADASTRO</h2>

        <form id="form-cadastro">

            <!-- Coluna esquerda -->
            <div class="input-box">
                <input placeholder="Nome Completo" type="text" required>
                <i class='bx bx-id-card'></i>
            </div>

            <div class="input-box">
                <label for="nascimento" class="sr-only">Data de Nascimento</label>
                <input id="nascimento" type="text" placeholder="dd/mm/aaaa" required pattern="\d{2}/\d{2}/\d{4}">
                <i class="bx bx-calendar"></i>
            </div>

            <div class="input-box">
                <input placeholder="CPF" type="text" maxlength="14" required>
                <i class='bx bx-id-card'></i>
            </div>

            <div class="input-box">
                <input placeholder="Telefone" type="tel" required>
                <i class='bx bx-phone'></i>
            </div>

            <!-- Coluna direita -->
            <div class="input-box">
                <input placeholder="E-mail" type="email" required>
                <i class='bx bx-envelope'></i>
            </div>

            <div class="input-box">
                <input placeholder="Username" type="text" required>
                <i class='bx bx-user'></i>
            </div>

            <div class="input-box">
                <input id="password" placeholder="Senha" type="password" required>
                <button type="button" class="toggle-password">
                    <img src="../../../../app/view/img/red-eyes.png" alt="Mostrar ou ocultar senha">
                </button>
            </div>


            <!-- Botão -->
            <button type="submit">Cadastrar</button>

            <!-- Link Login -->
            <div class="register-link">
                <p>Já tem uma conta? <a href="../login/login.html">Login</a></p>
            </div>
        </form>
    </main>
    <!-- Script para o formulário de cadastro -->
    <script src="../../js/forms.js"></script>

    <script>
        // pega o botão "Cadastrar"
        const botaoCadastrar = document.querySelector('button[type="submit"]');

        botaoCadastrar.addEventListener('click', function (e) {
            e.preventDefault(); // evita o envio do formulário
            window.location.href = '../login/login.html'; // ajuste o caminho se o login não estiver na mesma pasta
        });
    </script>
</body>

</html>