<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stellar Memory</title>

  <!--conectando as fontes/tipografia-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">

  <!--conectando o hmtl do jgo com o css ta tela do jogo-->
  <link rel="stylesheet" href="../../css/global.css" />
  <link rel="stylesheet" href="../../css/jogo.css" />
</head>

<body>
  <header>
    <h1>Stellar Memory</h1>
  </header>

  <button class="menu_button" id="menu-toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="side_menu" id="side_menu">
    <a href="../edicao_perfil/edicao_perfil.html">Editar Perfil</a>
    <a href="../historico/historico.html">Histórico</a>
    <a href="../ranking/ranking.html">Ranking</a>
    <a href="../login/login.html">Desconectar</a>
  </nav>


  <iframe src="../ceu/ceu.html" class="ceu-fundo"></iframe>

  <section class="informacoes_partida">
    <h2>Informações da Partida</h2>
    <ul>
      <li>Tempo da Partida: <span id="tempo-partida">00:00</span></li>
      <li>Número de Jogadas: <span id="numero-jogadas">0</span></li>
      <li>
        Configuração do Tabuleiro:
        <select id="configuracao-tabuleiro">
          <option value="selecione"></option>
          <option value="2x2">2x2</option>
          <option value="4x4">4x4</option>
          <option value="3x3">3x3</option>
          <option value="5x5">5x5</option>
          <option value="6x6">6x6</option>
          <option value="7x7">7x7</option>
          <option value="8x8">8x8</option>
        </select>
      </li>
      <li>
        Modalidade:
        <select id="modalidade">
          <option value="selecione"></option>
          <option value="classico">Clássico</option>
          <option value="contra_tempo">Contra o Tempo</option>
        </select>
      </li>
      <li id="tempo-restante-container">
        Tempo Restante: <span id="tempo-restante">00:00</span>
      </li>
    </ul>

    <section class="controles-jogo">
      <div class="botoes_trapaca">
        <button id="botao_ativar_trapaca">Ativar Trapaça</button>
        <button id="botao_desativar_trapaca">Desativar Trapaça</button>
      </div>
    </section>

    <section class="secao-jogar">
      <button id="botao-jogar">Jogar</button>
    </section>

  </section>
  <section class="tabuleiro-jogo">
    <div class="tabuleiro">
      <div id="cartas-container"></div>
    </div>
  </section>
  <script src="../../js/jogo.js"></script>
  <script src="../../js/global.js"></script>
</body>

</html>