/* Fonte padrão da página = Roboto Mono */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh;
    padding-top: 210px; /* espaço acima do container */
    background: url('as-belas-estrelas-brilhando-no-ceu-noturno.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 800px;
    background-color: transparent;
    border: 2px solid rgba(241, 246, 81, 0.2);
    border-radius: 10px;
    color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(249, 239, 47, 0.2);
    backdrop-filter: blur(120px);
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}

h1 {
    grid-column: 1 / -1;
    font-size: 55px;
    margin-bottom: 15px;
    font-family: "Jersey 25", sans-serif; /* só o título usa Jersey 25 */
    color: #ffffff;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    color: #000;
    padding: 10px 40px 10px 15px;
    box-shadow: 3px 3px 5px #00000070;
}

.input-box input::placeholder {
    color: #666;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #555; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

button {
    grid-column: 2;
    width: 100%;
    height: 50px;
    background: #1aa4df;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    box-shadow: 3px 3px 5px #00000070;
    transition: 0.3s;
}

button:hover {
    background: #52bff9;
}

.register-link {
    grid-column: 1 / -1;
    font-size: 12px;
    margin-top: 15px;
}

.register-link a {
    text-decoration: none;
    color: #1aa4df;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
