@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jersey+25&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h2{
	font-family: "Jersey 25";
	font-size: 2em;
	text-transform: uppercase;
	align-items: center;
}

.information-container{
	margin: 2vh auto;
	padding: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(249, 239, 47, 0.2);
    backdrop-filter: blur(120px);
    text-align: center;
	width: 90%;
	font-family: "Roboto Mono", sans-serif;
}


.information-container table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 30px;
    text-align: left;
}

.information-container caption{
	font-size: 1.5em;
	margin-bottom: 10px;
	font-family: "Jersey 25";
	font-size: 2em;
	text-transform: uppercase;
	color: #f3ea88;
	margin-top: 15px;
	margin-bottom: 25px;

}

.information-container th, td{
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
